streamlit
pandas
py2neo
pytesseract
pdfplumber
joblib
SpeechRecognition
pydub
regex
transformers
torch
faiss-cpu
spacy
sentence-transformers
matplotlib
networkx
PyPDF2
langflow
openai
langgraph
langfuse
langdetect
llm-guard
python-dotenv
numpy
Pillow
