streamlit
pandas
py2neo
pytesseract
pdfplumber
joblib
SpeechRecognition
pydub
regex
transformers
torch
faiss-cpu
spacy
sentence-transformers
matplotlib
networkx
PyPDF2
langflow
openai
langgraph
langfuse
langdetect
llm-guard==0.1.13
python-dotenv
numpy
Pillow
chromadb==0.4.14         # Use compatible version here
embedchain==0.1.55        # Use compatible version here
pysqlite3-binary==0.5.2
