streamlit==1.21.0
py2neo==2021.2.3
pytesseract==0.3.10
pdfplumber==0.6.0
pydub==0.25.1
SpeechRecognition==3.8.1
joblib==1.2.0
regex==2023.5.5
langdetect==1.0.9
faiss-cpu==1.7.4
sentence-transformers==2.2.2
spacy==3.5.0
spacy-transformers==1.0.0
python-dotenv==0.21.0
langfuse==0.0.3
llm_guard==0.1.0
networkx==3.1
torch==1.13.0
chromadb==0.4.0
pandas>=2.0.2
PyPDF2>=3.0.0
Pillow==9.5.0
openai==0.28.0
langgraph==0.0.4
crewai==0.1.0
